h2 {
    text-align: center;
    font-family: 'Courier', Courier, monospace;
    font-size: 30px;
}

.title {
    font-weight: bold;
}

h3 {
    font-family: 'Courier', Courier, monospace;
    text-align: center;
}

.descr {
    margin: 0 0 0 0;
}

.descrip {
    padding-bottom: 10px;
    margin: 0 0 0 0;
}

.bottomtext {
    text-align: center;
}

.col {
    text-align: center;
    padding: 25px;
    
}

.row {
    padding: 15px;
}

.topicon {
    font-size: 50px;
}

.texticon {
    font-size: 18px;
}

p {
    text-align: justify;
}

img {
    margin-top: 10px;
}





